* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
  background: #3fc5f0;
  color: #eef5b2;
}

button {
  padding: 6px;
  margin: 6px;
  border-radius: 6px;
  background: #42dee1;
  color: #eef5b2;
  font-weight: bold;
}

output {
  display: block;
  padding: 22px;
  font-weight: bold;
}
